{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
<head>
    <title>{{ dept_name }}</title>
</head>
{% if user.is_authenticated %}
<header>
    <!-- Navbar -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.1);">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/home/">Chat</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/deptlist/">Course List</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/user/">User Info</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/searchResults/">Search Users</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/calendar/">Calendar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    {% include 'study_buddy_app/Nav_None.html' with first=first last=last dept_name=dept_name header="Classes"%}
</header>

{% else %}
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(0, 0, 0, 0.1);">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/study_buddy_app/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/study_buddy_app/deptlist/">Course List</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% endif %}
  

<body class="d-flex flex-column min-vh-100">
  <br>
  <h5 class="text-center">Select a class and add it to your profile</h5>
  <br>
  <form action="/study_buddy_app/user/addclass" method="post">
    {% csrf_token %}
    <fieldset>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <!-- List of classes -->
      <div class="list-group col-3 mx-auto">
        {% for class in response %}        
          <input type="radio" class="btn-check" name="class" id="class{{ forloop.counter }}" value="{{ class.pk }}">
          <label class="btn btn-outline-primary" for="class{{ forloop.counter }}">{{ class.subject }} {{ class.catalog_number }} -- Section {{ class.course_section }}</label><br>
        {% endfor %}
      </div>
    </fieldset>

    <!-- "Add Class" button -->
    <div class="text-center">
      <a class="btn btn-primary" href="/study_buddy_app/user" role="button">Back</a>
      {% if user.is_authenticated %}
        <input class="btn btn-primary" type="submit" value="Add Class">
      {% endif %}
    </div>
  </form>
</body>

<footer class="text-center text-lg-start bg-light text-muted mt-auto">
    <div class="text-center p-3 me-5 d-none d-lg-block">
      <span>Page Authors: Ana Borges, Bao Nguyen, Evan Tierney, Natasha Mathew, and Holden Present</span>
    </div>
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright: None
  </div>
</footer>
</html>